---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Attach
BreakTemplateDeclarations: Yes
AlignAfterOpenBracket: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
IndentCaseLabels: true
NamespaceIndentation: None
SpaceAfterTemplateKeyword: true
SpacesBeforeTrailingComments: 1
SpacesInParentheses: false
SpacesInSquareBrackets: false
InsertNewlineAtEOF: true
...
